<tr id = "data">
    <td class="innerpadding borderbottom">
      	<table cellspacing="0" cellpadding="0" border="0" width="100%">
	        <tbody>
	        	<tr>
		          <td class="h2">
		            <h3>¡Bienvenido nuevamente a <%= ::MercadoPagoLocal.business_name %>!</h3>
		          </td>
		        </tr>
		        <tr>
		          <td class="bodycopy">
		          	<table>
						<tr>
							<td style="width: 25%;">
								<img src="/images/logo.png" class="logo img-responsive" width="250">
							</td>
							<td style="width: 75%;">
								Estimado Cliente:
								<br><br>
								Esperamos que todas sus expectativas sean cumplidas al conocer nuestro sistema.
								<br><br>
								Rogamos revise los tutoriales disponibles en el sistema para poder optimizar su uso. Una vez que ingrese con su usuario y contraseña podrá ver facilmente los mismos.
								<br><br>
								Sin otro particular y agradeciéndoles su confianza en nosotros, reciban un coordial saludo.
								<br><br>
								<%= ::MercadoPagoLocal.business_name %>
							</td>
						</tr>
					</table>
		          </td>
		        </tr>
	      	</tbody>
  	 	</table>
    </td>
</tr>